$content-fontcolor:#333;
$content-bgColor: #F1F1F1;
$search-bgColor:#F5F5F5;
$search-fontColor: #B7B7B7;
$bgColor:#FFF;
$hightlight-fontColor: #E93B3B;
$medium-fontColor: #666;
$light-Color: #999;
$button-color: #0091FF;
$dark-bgColor: #F8F8F8;
$dark-fontColor: #000;